.why {
    border-top:4px solid #499e8d;
    border-left:4px solid #499e8d;
    border-right:4px solid #499e8d;
    border-bottom:1px solid #499e8d;
    border-radius: 10px 10px 0px 0px;
    width: 90%;
}

.whynot {
    border-bottom:4px solid #499e8d;
    border-left:4px solid #499e8d;
    border-right:4px solid #499e8d;
    border-top:1px solid #499e8d;
    border-radius: 0px 0px 10px 10px;
    width: 90%;
}


.list-group-item.active {
    font-size:105%;
    background: linen;
    color: black;
    text-shadow: none;
}

.list-group-item {
    font-size: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    background: ivory;
}

p {
    margin:10px;
}

h2 {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.points {
    font-size: 80%;
}


.numberCircle {
    border-radius: 50%;
    
    width: 36px;
    height: 32px;
    padding: 4px;
    
    background: #fff;
    border: 2px solid red;
    color: blue;
    text-align: center;
    
    font-size: 20px;
}

.author {
    float: right;
    margin-left:30px;
    font-size: 9pt;
    color: #666;
    margin-top:10px;
}

.list-group {
    margin-bottom: 10px;
}